__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.venv/
venv/
ENV/
.idea/
.vscode/
*.egg-info/
dist/
build/
generated_artifacts/
.history/
history/

# Log files
*.log
logs/

# SQLite Databases
*.db
*.sqlite3
*.db-journal
*.db-wal
*.db-shm
